<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="provision" type="Provision.Config.ProvisionConfiguration, Provision.Config" />
  </configSections>
  <provision handler="Provision.Providers.Redis.RedisCacheHandler, Provision.Providers.Redis">
    <add type="Provision.Providers.Redis.RedisCacheHandlerConfiguration, Provision.Providers.Redis" database="3" host="localhost" prefix="provisionconfig" compress="false" />
  </provision>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>